/* HEADER */
.site-header{
    background:#ffffff;
    padding:16px 32px;
    border-bottom:1px solid #dddddd;
    font-family:Arial, sans-serif;
}

.top-nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.left-group{
    display:flex;
    align-items:center;
    gap:10px;
}

/* MENU */
.main-menu ul{
    list-style:none;
    display:flex;
    gap:24px;
}

.main-menu a, .header-action a{
    text-decoration:none;
    color:#000;
    font-weight:500;
}

/* ACTIONS */
.header-action{
    display:flex;
    align-items:center;
    gap:16px;
}

.cart{
    font-weight:bold;
}

/* BURGER */
.burger{
    font-size:28px;
    cursor:pointer;
}

/* OVERLAY */
.overlay-menu{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#ffffff;
    z-index:9999;

    display:flex;
    justify-content:center;
    align-items:center;

    transform:translateX(100%);
    transition:0.4s ease;
}

.overlay-menu.open{
    transform:translateX(0);
}

.close-btn{
    position:absolute;
    top:20px;
    right:30px;
    font-size:28px;
    cursor:pointer;
}

.overlay-menu ul{
    list-style:none;
    text-align:center;
}

.overlay-menu li{
    margin:20px 0;
}

.overlay-menu a{
    font-size:32px;
    text-decoration:none;
    color:#000;
    font-weight:bold;
}

/* PRODUITS */
.products{
    padding:60px 32px;
    font-family:Arial, sans-serif;
}

.products h2{
    text-align:center;
    margin-bottom:40px;
}

.product-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    gap:30px;
}

.product-card{
    text-align:center;
}

.product-image{
    position:relative;
    overflow:hidden;
}

.product-image img{
    width:100%;
    height:300px;
    object-fit:cover;
    transition:0.4s ease;
}

.product-card:hover img{
    transform:scale(1.1);
}

.add-to-cart{
    position:absolute;
    bottom:20px;
    left:50%;
    transform:translateX(-50%);
    padding:10px 20px;
    background:black;
    color:white;
    border:none;
    cursor:pointer;
    opacity:0;
    transition:0.3s ease;
}

.product-card:hover .add-to-cart{
    opacity:1;
}

.product-card h3{
    margin-top:12px;
}

.price{
    font-weight:bold;
    margin-top:6px;
}

/* FOOTER */
.footer {
    font-family: arial, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px 0px;
    margin-top: auto;
    border-top: 1px solid white;
}

/*IMG POUR TEL*/
.product-image img{
    max-width:100%;
}


/* LOGO TEXTE */
.logo-text{
    text-decoration:none;
    color:#000;
    font-size:24px;
    font-weight:bold;
    letter-spacing:2px;
    font-family: "Annie Use Your Telescope", cursive;
}

.logo-text:hover{
    opacity:0.7;
}
