
.container {
    display: flex;
    min-height: 100vh;
}

.image-section {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay2 {
    position: absolute;
    bottom: 50px;
    left: 50px;
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 8px;
}

.overlay2 h3{
    font-weight: 600;
    margin-bottom: 10px;
}

.overlay2 h3 a {
    text-decoration: none;
    color: inherit;
}

.overlay2 h3 a:hover {
    text-decoration: underline;
}

.overlay2 a {
    color: white;
    text-decoration: underline;
    font-size: 14px;
}

.reservation {
    flex: 1;
    background: #ffffff;
    padding: 80px;
}

.subtitle {
    letter-spacing: 2px;
    font-size: 12px;
    color: #888;
    margin-bottom: 10px;
}

.reservation h2 {
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row2 {
    display: flex;
    gap: 20px;
}

input, select, textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    transition: 0.3s;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #000;
    outline: none;
}

textarea {
    resize: none;
    height: 120px;
}

button {
    padding: 15px;
    background: #111;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #333;
}

