body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Barre du haut */
.navbar {
    background-color: #F0B13B;
    padding: 15px;
    display: flex;
    justify-content: center;
}

/* Liens */
.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
}

/* Effet au survol */
.navbar a:hover {
    color: yellow;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

/* BARRE */
#topBar {
    width: 100%;
    background: white;
    padding: 30px;
    text-align: center;
    transition: 0.3s;
}

#topBar input {
    width: 60%;
    padding: 12px;
    font-size: 18px;
    border-radius: 30px;
    border: 1px solid #ccc;
}

/* BARRE PETITE */
#topBar.small {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#topBar.small input {
    width: 40%;
    font-size: 14px;
}

/* CONTENU */
.content {
    padding: 40px;
}

.card {
    background: #f2f2f2;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
}

/* Zone résultats */
#results {
    width: 60%;
    margin: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    display: none;
    overflow: hidden;
}

/* Cartes */
.card {
    padding: 15px;
    cursor: pointer;
}

.card:hover {
    background: #f2f2f2;
}

#products {
    padding: 40px 20px;
    background: #f9f9f9;
    text-align: center;
}

#products h2 {
    margin-bottom: 30px;
    font-size: 28px;
    color: #333;
}

/* Container pour tous les produits */
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Carte produit */
.product-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

/* Effet au survol */
.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product-card h3 {
    margin: 10px 0 5px;
    color: #333;
}

.product-card p {
    color: #666;
    font-size: 14px;
}

@media (max-width: 600px) {
    .product-card {
        width: 90%;
    }
}

.grand-espace {
    height: 2000px; /* Hauteur de l'espace vide */
}
