body{
    background-color: white;
    height: 100%;
}

/* Barre du haut */
.navbar{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6495ED;
    margin-bottom: 20px;
}

.navbar a{
    color: black;
    text-decoration: none;
    margin: 0 20px;
}

/* BARRE */
.footer{
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: grey;
    color: black;
    text-align: center;
    padding: 40px 0px;
    margin-top: 20px;
}

/* Ecriture des liens*/

.navliens{
    font-family: "Bungee", sans-serif;
    display: flex;
    align-items: center;
}

.accueil{
    color: black;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 300%;
}

a{
   text-decoration: none;
   list-style-type: none;
}

/* Menu déroulant */
.menu{
    position: relative;
    display: inline-block;
}

.infos{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 180px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 0px;
}

.menu:hover .infos{
    display: block;
}

.infos a{
    color: black;
    display: block;
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 0;
}

.infos a:hover{
    background-color: grey;
}

/* Image */
.image{
    background-image: url("https://cdn-s-www.estrepublicain.fr/images/15655d60-fe96-4c23-9770-8d49663f5937/NW_raw/le-restaurant-la-tentation-fait-desormais-salon-de-the-en-proposant-des-patisseries-trompe-l-oeil-photo-lionel-vadam-1725478058.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
}
