body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0;
}


/* Barre du haut */
.navbar {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    margin-bottom: 20px;
}

.navbar a {
    color: black;
    text-decoration: none;
    margin: 0 20px;
}

/* BARRE */
.footer {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: grey;
    color: black;
    text-align: center;
    padding: 40px 0px;
    margin-top: auto;
}

/* Ecriture des liens*/

.navliens {
    font-family: "Bungee", sans-serif;
    display: flex;
    align-items: center;
}

.accueil {
    color: black;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 250%;
}

a {
    text-decoration: none;
    list-style-type: none;
}

.a1 {
    color: black;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 500%;
    width: max-content;
    padding: 0px 10px;
}

.a1:hover {
    color: grey;
}

/* Menu déroulant */
.menu {
    position: relative;
    display: inline-block;
}

.infos {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 180px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 0px;
}

.menu:hover .infos {
    display: block;
}

.infos a {
    color: black;
    display: block;
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 0;
}

.infos a:hover {
    background-color: grey;
}

/* Image */

.contenu {
    width: 100%;
    min-height: 100vh; /* ajuste si tu veux plus/moins grand */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.contenu:has(.a10:hover) {
    background-image: url("https://th.bing.com/th/id/R.4e312752589af6f4da3d6cf28e2f9775?rik=6XvqwkBl8ue5ew&riu=http%3a%2f%2fphotos.wikimapia.org%2fp%2f00%2f03%2f67%2f44%2f20_full.jpg&ehk=tZ93i9NWQQUrD9mGvJIMN0tkrsdq1m1xzNI%2bJhdcGys%3d&risl=&pid=ImgRaw&r=0");
}

.contenu:has(.a11:hover) {
    background-image: url("https://media.lesechos.com/api/v1/images/view/639b33ae1352ec07853f6359/1280x720/0703026196962-web-tete.jpg");
}

.contenu:has(.a12:hover) {
    background-image: url("");
}

.contenu:has(.a13:hover) {
    background-image: url("https://image.api.playstation.com/vulcan/ap/rnd/202505/0510/5793f9aae1b01eb27852e0142a47f3e8dca7e6c753d35f1a.png");
}

