* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Page d'accueil DEBUT */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0;
    font-family: "Annie Use Your Telescope", cursive;
    font-weight: 400;
    font-style: normal;
}


/* Barre du haut */
.navbar {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}

/* Bas de page */
.footer {
    font-family: arial, sans-serif;
    background-color: grey;
    color: black;
    text-align: center;
    padding: 40px 0px;
    margin-top: auto;
}

/* Description du site */
.sitedescription {
    padding: 100px 30px;
    color: black;
    text-align: left;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    font-size: 200%;
}

.sitedescription .textedescription {
    font-size: 100%;
    margin-top: 20px;
}

/* Ecriture des liens*/
.navliens {
    display: flex;
    align-items: center;
    gap: 40px;
}

.accueil {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 350%;
}

a {
    text-decoration: none;
    list-style-type: none;
}

.a1 {
    color: white;
    font-size: 400%;
    padding: 10px 10px;
    border: 1px solid white;
    background-color: black;
    border-radius: 0 0 15px 15px;
    padding: 0 20px;
}

.a1:hover {
    cursor: pointer;
}

.villes {
    justify-content: space-between;
    display: flex;
    padding: 0 40px;
}

/* Menu déroulant */
.menu {
    position: relative;
    display: inline-block;
    font-size: 250%;
    cursor: pointer;
    border: 1px solid white;
    background-color: black;
    padding: 0 0px;
    border-radius: 15px 15px 15px 15px;
}

.infos {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 180px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 0px;
    z-index: 1;
}

.menu:hover .infos {
    display: block;
    cursor: pointer;
}

.infos a {
    color: black;
    display: block;
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 0;
}

.infos a:hover {
    background-color: grey;
    cursor: pointer;
}

/* Image */
.contenu {
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-image: url("https://usagif.com/wp-content/uploads/2020/11/am0ngsusxh-85.gif");
}

.contenu:has(.a10:hover) {
    background-image: url("https://th.bing.com/th/id/R.4e312752589af6f4da3d6cf28e2f9775?rik=6XvqwkBl8ue5ew&riu=http%3a%2f%2fphotos.wikimapia.org%2fp%2f00%2f03%2f67%2f44%2f20_full.jpg&ehk=tZ93i9NWQQUrD9mGvJIMN0tkrsdq1m1xzNI%2bJhdcGys%3d&risl=&pid=ImgRaw&r=0");
    cursor: pointer;
}

.contenu:has(.a11:hover) {
    background-image: url("https://media.lesechos.com/api/v1/images/view/639b33ae1352ec07853f6359/1280x720/0703026196962-web-tete.jpg");
    cursor: pointer;
}

.contenu:has(.a12:hover) {
    background-image: url("https://www.cergypontoise.fr/sites/default/files/styles/image_gallery/public/2018-05/Panoramique-quais_1.jpg?itok=koAEnDSV");
    cursor: pointer;
}


/* Affichage des plats */
.plats {
    display: flex;
    position: absolute;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    transition: opacity 0.25s ease, visibility 0.25s ease;
    pointer-events: none;
}

.plat {
    width: 600px;
    height: 400px;
    border-radius: 15px 15px 0 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.platdescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description {
    width: 600px;
    background: white;
    padding: 10px 20px;
    border-radius: 0 0 15px 15px;
    border-top: 2px solid black;
}

.plat1 {
    background-image: url("https://tse2.mm.bing.net/th/id/OIP.nHKwp7PHzqwmHsgEweNn5gHaE8?rs=1&pid=ImgDetMain&o=7&rm=3")
}

.plat2 {
    background-image: url("https://cdn-s-www.estrepublicain.fr/images/ec8d79a7-fdc5-49b2-b31f-8e36663c3a59/NW_raw/le-restaurant-la-tentation-fait-desormais-salon-de-the-en-proposant-des-patisseries-trompe-l-oeil-photo-lionel-vadam-1727274004.jpg");
}

.plat3 {
    background-image: url("https://tse1.mm.bing.net/th/id/OIP.2qQg5Z3874qc-_UAyCjJcQHaHa?w=1280&h=1280&rs=1&pid=ImgDetMain&o=7&rm=3")
}

.plat4 {
    background-image: url("https://tse2.mm.bing.net/th/id/OIP.nHKwp7PHzqwmHsgEweNn5gHaE8?rs=1&pid=ImgDetMain&o=7&rm=3")
}

.plat5 {
    background-image: url("https://cdn-s-www.estrepublicain.fr/images/ec8d79a7-fdc5-49b2-b31f-8e36663c3a59/NW_raw/le-restaurant-la-tentation-fait-desormais-salon-de-the-en-proposant-des-patisseries-trompe-l-oeil-photo-lionel-vadam-1727274004.jpg");
}

.plat6 {
    background-image: url("https://tse1.mm.bing.net/th/id/OIP.2qQg5Z3874qc-_UAyCjJcQHaHa?w=1280&h=1280&rs=1&pid=ImgDetMain&o=7&rm=3")
}

.plat7 {
    background-image: url("https://tse2.mm.bing.net/th/id/OIP.nHKwp7PHzqwmHsgEweNn5gHaE8?rs=1&pid=ImgDetMain&o=7&rm=3")
}

.plat8 {
    background-image: url("https://cdn-s-www.estrepublicain.fr/images/ec8d79a7-fdc5-49b2-b31f-8e36663c3a59/NW_raw/le-restaurant-la-tentation-fait-desormais-salon-de-the-en-proposant-des-patisseries-trompe-l-oeil-photo-lionel-vadam-1727274004.jpg");
}

.plat9 {
    background-image: url("https://tse1.mm.bing.net/th/id/OIP.2qQg5Z3874qc-_UAyCjJcQHaHa?w=1280&h=1280&rs=1&pid=ImgDetMain&o=7&rm=3")
}

.contenu:has(.a10:hover) .plats.paris {
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.1s ease, visibility 0.1s ease;
    pointer-events: auto;
}

.contenu:has(.a11:hover) .plats.argenteuil {
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.1s ease, visibility 0.1s ease;
    pointer-events: auto;
}

.contenu:has(.a12:hover) .plats.cergy {
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.1s ease, visibility 0.1s ease;
    pointer-events: auto;
}

/* Page d'accueil FIN */

/* Page Admin DEBUT */
.sitedescription2 {
    font-family: "Playwrite AT", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding: 40px 30px;
    text-align: center;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    color: red;
}

/* Barre de recherche */
#topBar {
    width: 100%;
    background: white;
    padding: 30px;
    text-align: center;
    transition: 0.3s;
    position: relative;
}

#topBar input {
    width: 60%;
    padding: 12px;
    font-size: 18px;
    border-radius: 30px;
    border: 1px solid #ccc;
}

/* Petite barre */
#topBar.small {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#topBar.small input {
    width: 40%;
    font-size: 14px;
}

/* Zone résultats */
#results {
    width: 60%;
    margin: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    display: block;
    overflow: hidden;
}

.utilisateur {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
}

.card {
    width: 60%;
    padding: 20px;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
}

.card:hover {
    background-color: lightgrey;
    cursor: pointer;
}

/* Page Admin FIN */

/* Page de notation DEBUT */
.sitedescription3 {
    font-family: "Playwrite AT", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding: 40px 30px;
    text-align: center;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

/* Avis */
.reservation {
    flex: 1;
    background: #ffffff;
    padding: 80px;
}

.reservation h2 {
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row {
    display: flex;
    gap: 20px;
}